body {
    background-color: black;
}

h1#timer {
    color: white;
    font-family: Alata;
    font-size: 200px;
    text-align: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    /* padding-left: 27%; */
}
